body {
    background-color:pink;
   
    }
    #result
    {
        margin: 50px;
        padding: 50px;
        border: solid red;
        height: 300px;
        width: 300px;
        display: none;
    }
h3
    {
        display: block;
        font-weight: 700;
        font-family: 'Courier New', Courier, monospace;
        color: blue;
    }
    #readstr
    {
        display: none;
        margin: 50px;
        padding: 10px;
       border: solid green;
        width: 200px;
        height: 100px;
    }
    
   .readings
    {
        display: none;
    }
    